In [2]:
phonebook = {
    "Ram": 9876012345,
    "Sneha": 9123567890,
    "Aman": 9988654321,
    "Tina": 9090123456
}
print("Current phonebook:", phonebook)
name = input("Enter the name whose number is to be modified: ")

if name in phonebook:
    new_number = int(input("Enter the new number: "))
    phonebook[name] = new_number
    print("Number modified successfully.")
else:
    print(name, "was not found in the phonebook.")
print("Updated phonebook:", phonebook)

Current phonebook: {'Ram': 9876012345, 'Sneha': 9123567890, 'Aman': 9988654321, 'Tina': 9090123456}

Enter the name whose number is to be modified:  Sneha
Enter the new number:  8934662367

Number modified successfully.
Updated phonebook: {'Ram': 9876012345, 'Sneha': 8934662367, 'Aman': 9988654321, 'Tina': 9090123456}

In [3]:
phonebook = {
    "Ravi": 9012345678,
    "Meera": 9123456780,
    "Karan": 9234567891
}
print(phonebook)
phonebook["Ravi"] = 9345678902
print(phonebook)
phonebook.update({"Aisha": 9456789013})
print(phonebook)

{'Ravi': 9012345678, 'Meera': 9123456780, 'Karan': 9234567891}
{'Ravi': 9345678902, 'Meera': 9123456780, 'Karan': 9234567891}
{'Ravi': 9345678902, 'Meera': 9123456780, 'Karan': 9234567891, 'Aisha': 9456789013}

In [5]:
phonebook = {
    "Amar": 9876543210,
    "Boby": 8765432109,
    "Chandu": 7654321098,
    "Darma": 6543210987
}
print("Phonebook:", phonebook)
name = input("Enter the name to delete: ")
if name in phonebook:
    del phonebook[name]
    print(f"{name} deleted successfully.")
    print("Updated phonebook:", phonebook)
else:
    print(f"{name} was not found in the phonebook.")

Phonebook: {'Amar': 9876543210, 'Boby': 8765432109, 'Chandu': 7654321098, 'Darma': 6543210987}

Enter the name to delete:  Chandu

Chandu deleted successfully.
Updated phonebook: {'Amar': 9876543210, 'Boby': 8765432109, 'Darma': 6543210987}

In [6]:
phonebook={"aaa":8475125632,"bbb":8745963215,"ccc":8745632159,"ddd":7589632145}
print(type(phonebook))
phonebook.clear()
print(phonebook)
print(phonebook.keys())

<class 'dict'>
{}
dict_keys([])

In [12]:
num = int(input("How many employee records do you want to enter? "))
employee_records = {}
for i in range(num):
    print(f"\nEmployee {i+1}")
    emp_name = input("Enter employee name: ")
    emp_id = input(f"Enter ID number for {emp_name}: ")
    employee_records[emp_name] = emp_id
print("\nEmployee Records")
for name, emp_id in employee_records.items():
    print(f"Name: {name} ID: {emp_id}")

How many employee records do you want to enter?  2

Employee 1

Enter employee name:  sony
Enter ID number for sony:  234

Employee 2

Enter employee name:  sathvi
Enter ID number for sathvi:  138

Employee Records
Name: sony ID: 234
Name: sathvi ID: 138